<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
	    <a href="add_page/">Add Page</a>

        {% else %}
            <p>The specified category {{ category_name }} does not exist!</p>
            <a href="/rango/add_category/">Why not create it?</a>
        {% endif %}
    </body>
</html>
